ansible==3.3.0
ansible-base==2.10.14
ansible-tower-cli==3.3.9
certifi==2021.10.8
cffi==1.14.6
charset-normalizer==2.0.12
click==6.7
colorama==0.4.4
cryptography==35.0.0
idna==3.3
Jinja2==3.0.1
MarkupSafe==2.0.1
packaging==21.0
pycparser==2.20
pyparsing==2.4.7
PyYAML==5.4.1
requests==2.27.1
six==1.16.0
urllib3==1.26.9
